.addInput {
    border-radius: 6px;
    width: 500px;
    height: 30px;
    margin-left: 400px;
    margin-top: 90px;
}

.add {
    height: 35px;
    width: 80px;
    margin-left: 20px;
    border-radius: 6px;
}

.li {
    background-color: #fff;
    padding: 10px;
    margin-left: 310px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    border-bottom: black;
}

.li2 {
    background-color: #fff;
    padding: 10px;
    margin-left: 310px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    border-bottom: black;
}